<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="DBConnString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=mahalepoc;Integrated Security=True" />
    <add key="DBClass" value="DatabaseService.DBCore.MSSQLDatabase" />
    <add key="Alias" value="MSSql" />

    <add key="s_all_trollies" value="SELECT [id],[trolleyName],[trolleyNumber],[tagId],[maintenanceDate],[maintenanceStatus]FROM [mahalepoc].[dbo].[trolleymaintenancedetails] order by maintenanceDate asc"/>
    
    <add key="s_search_trolley" value="SELECT id,trolleyName,trolleyNumber,tagId,maintenanceDate,maintenanceStatus FROM dbo.trolleymaintenancedetails where (UPPER(trolleyName) like '%{0}%' or UPPER(trolleyNumber) like '%{0}%' or UPPER(tagId) like '%{0}%' or UPPER(maintenanceStatus) like '%{0}%') order by maintenanceDate asc"/>
    
    <add key="i_trolley" value="insert into dbo.trolleymaintenancedetails ([trolleyName],[trolleyNumber],[tagId],[maintenanceDate],[maintenanceStatus]) values ('{0}','{1}','{2}','{3}','{4}')"/>

    <add key="u_trolley" value="update dbo.trolleymaintenancedetails set maintenanceStatus = '{0}', maintenanceDate ='{1}' where tagId = '{2}'"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>